<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies Flix</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="bg-image"></div>
    <div class="wrapper">
      <%- include("partials/nav-bar.ejs") %>
      <section id="body-section">
        <%if (top10) {%>
        <div class="hero">
          <div class="hero-section">
            <%if (top10) {%>
            <% top10.forEach(top=>{ %>
            <a href="<%= top.link %>" class="hero-poster">
              <div class="hero-poverlay"></div>
              <img src="<%= top.poster %>" alt="" />
            </a>
            <%})%>
            <%}%>
          </div>
        </div>
        <%}%>
        <section id="movies">
          <%- include ("partials/sidebar.ejs") %>
          <% if (!search) { %>
          <section id="movies-title-bar">
            <div class="current-title">
              <span class="current">All Movies</span>
            </div>
            <div class="click-menus">
              <div class="genres">
                <button class="title-button">All Genres</button>
              </div>
              <div class="rating">
                <button class="title-button">All Ratings</button>
              </div>
              <div class="sortBy">
                <button class="title-button">Sort By</button>
              </div>
            </div>
          </section>
          <%}%>
          <section id="movies-list">
            <div class="loader"><div class="loading"></div></div>
            <% movies.forEach(movie=>{ %>
            <div class="movie-container animate-bottom hide">
                <div class="poster">
                  <img
                    loading="lazy"
                    src="<%= movie.poster %>"
                    alt=""
                    class="poster-img"
                  />
                  <div class="poster-overlay">
                    <div class="fav-icon">
                      <i class="fa fa-heart"></i>
                    </div>
                    <div class="imdb-rating">
                      <span class="imdb">IMDB RATING</span>
                      <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                    </div>
                    <div class="poster-description">
                      <span><%= movie.description %></span>
                    </div>
                  </div>
                </div>
                <a href='/movie/?id=<%= movie["_id"] %>' class="movie-link">
                <div class="movie-description">
                  <div class="movie-name">
                    <span><%= sanitizer(movie.title) %></span>
                  </div>
                </div>
                </a>
            </div>
            <%})%>
          </section>
        </section>
        <% if (!search) { %>
          <div class="pagination"></div>
          <%}%>
      </section>
      <%- include("partials/footer.ejs") %>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
